@import "tailwindcss";

@layer base {
  body {
    margin: 0;
  }

  #root {
    min-height: 100vh;
  }

  svg {
    display: inline;
  }
}

@theme {
  --color-orange-50: #fff3e0;
  --color-orange-100: #ffe0b2;
  --color-orange-200: #ffcc80;
  --color-orange-300: #ffb74d;
  --color-orange-400: #ffa726;
  --color-orange-500: #ff9800;
  --color-orange-600: #fb8c00;
  --color-orange-700: #f57c00;
  --color-orange-800: #ef6c00;
  --color-orange-900: #e65100;
}
